:root {
    --dark-color: rgba(39, 10, 38, 0.842);
    --medium-color: rgba(83, 45, 82, 0.6);
    --light-color: rgba(175, 158, 174, 0.4);
    --text-color: rgb(214, 205, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    padding: 2rem;
    color: var(--text-color);
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, var(--medium-color), var(--light-color)), 
    url('../img/pic.jpg');
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
}

.logo-box {
    position: absolute;
    top: 6%;
    left: 3%;
}

.logo {
    height: 1.7rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 1.3rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn-container {
    text-align: center;
}

.about {
    background-color: #956b6b;
    padding: 25rem 0;
    margin-top: -20vh;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.heading-secondary {
    font-size: 3.5rem;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(to right, var(--medium-color), var(--dark-color));
    background-clip: text;
    letter-spacing: 0.2rem;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.row {  
    max-width: 114rem;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-of-2 {
    float: left;
    width: 50%;
    padding: 1rem;
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

.btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: var(--dark-color);
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid var(--dark-color);
    padding: 0.5rem;
    transition: all 0.2s;
}

.btn-text:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}